<div _ngcontent-c12="" class="container ng-star-inserted">
  <form _ngcontent-c12="" novalidate="" ng-reflect-form="[object Object]" class="ng-dirty ng-touched ng-valid">

    <div _ngcontent-c12="" class="form-group">
      <label _ngcontent-c12="" for="storagename">Storage Name*</label>
      <input _ngcontent-c12="" class="form-control ng-dirty ng-touched ng-valid" formcontrolname="storagename"
        id="storagename" type="text" ng-reflect-name="storagename">
      <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
    </div>

    <div _ngcontent-c12="" class="form-group">
      <label _ngcontent-c12="" for="adress">Adress</label>
      <input _ngcontent-c12="" class="form-control ng-dirty ng-touched ng-valid" formcontrolname="adress" id="adress"
        type="text" ng-reflect-name="adress">
      <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
    </div>





    <div _ngcontent-c12="" class="form-group">
      <label _ngcontent-c12="" for="sectionsgoods">Sections of goods</label>
      <br>

      <button class="btn btn-primary btn-padding">Phones</button>
      <button class="btn btn-primary btn-padding">TV</button>
      <button class="btn btn-primary btn-padding">Dinnerware</button>
      <button class="btn btn-primary btn-padding">Food</button>
      <button class="btn btn-primary btn-padding">Jewellery</button>
      <button class="btn btn-primary btn-padding">Music (listener)</button>
      <button class="btn btn-primary btn-padding">Cosmetics</button>
      <button class="btn btn-primary btn-padding">Men's wear</button>
      <button class="btn btn-primary btn-padding">Women's wear</button>
      <button class="btn btn-primary btn-padding">Shoes</button>
    </div>
    <div class="tags-container container">
      <div class="btn btn-success btn-padding">Phones
        <span class="btn-cross">X</span>
      </div>
      <div class="btn btn-success btn-padding">TV
        <span class="btn-cross">X</span>
      </div>
      <div class="btn btn-success btn-padding">Dinnerware
        <span class="btn-cross">X</span>
      </div>
      <div class="btn btn-success btn-padding">Food
        <span class="btn-cross">X</span>
      </div>
      <div class="btn btn-success btn-padding">Jewellery
        <span class="btn-cross">X</span>
      </div>
      <div class="btn btn-success btn-padding">Music (listener)
        <span class="btn-cross">X</span>
      </div>
      <div class="btn btn-success btn-padding">Cosmetics
        <span class="btn-cross">X</span>
      </div>
      <div class="btn btn-success btn-padding">Men's wear
        <span class="btn-cross">X</span>
      </div>
      <div class="btn btn-success btn-padding">Women's wear
        <span class="btn-cross">X</span>
      </div>
      <div class="btn btn-success btn-padding">Shoes
        <span class="btn-cross">X</span>
      </div>

    </div>










    <div _ngcontent-c12="" class="form-group  ng-dirty ng-valid ng-touched" formcontrolname="country" id="country">
      <label _ngcontent-c12="" for="country">Country</label>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true">
          Select country
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-reflect-name="country">
          <li>
            <a href="#">Ukraine</a>
          </li>
          <li>
            <a href="#">Russia</a>
          </li>
          <li>
            <a href="#">USA</a>
          </li>
          <li>
            <a href="#">GB</a>
          </li>
          <li>
            <a href="#">Poland</a>
          </li>
          <li>
            <a href="#">Germany</a>
          </li>
          <li>
            <a href="#">France</a>
          </li>
        </ul>
      </div>
    </div>




    <div _ngcontent-c12="" class="form-group  ng-dirty ng-valid ng-touched" formcontrolname="city" id="city">
      <label _ngcontent-c12="" for="city">City</label>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true">
          Select city
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" ng-reflect-name="city">
          <li>
            <a href="#">Kyiv and Kyiv region</a>
          </li>
          <li>
            <a href="#">Jytomyr and Jytomyr region</a>
          </li>
          <li>
            <a href="#">Chernigiv and Chernigiv region</a>
          </li>
          <li>
            <a href="#">Lviv and Lviv region</a>
          </li>
          <li>
            <a href="#">Vinnytsya and Vinnytsya region</a>
          </li>
          <li>
            <a href="#">Dnipro and Dnipro region</a>
          </li>
          <li>
            <a href="#">Herson and Herson region</a>
          </li>
        </ul>
      </div>
    </div>

    <div _ngcontent-c12="" class="form-group">
      <label _ngcontent-c12="" for="places">Places</label>
      <br>

      <button class="btn btn-primary btn-padding">Hreschatyk</button>
      <button class="btn btn-primary btn-padding">Maidan Nezalezhnosti</button>
      <button class="btn btn-primary btn-padding">Osokorky</button>
      <button class="btn btn-primary btn-padding">Lisova</button>
      <button class="btn btn-primary btn-padding">Academmistechko</button>
      <button class="btn btn-primary btn-padding">Heroiv Dnipra</button>
      <button class="btn btn-primary btn-padding">Boryspilska</button>
      <button class="btn btn-primary btn-padding">Teremky</button>
      <button class="btn btn-primary btn-padding">Palac sporty</button>
      <button class="btn btn-primary btn-padding">Vokzalna</button>
    </div>
    <div class="tags-container container">
      <div class="btn btn-success btn-padding">Hreschatyk
        <span class="btn-cross">X</span>
      </div>
      <div class="btn btn-success btn-padding">Maidan Nezalezhnosti
        <span class="btn-cross">X</span>
      </div>
      <div class="btn btn-success btn-padding">Osokorky
        <span class="btn-cross">X</span>
      </div>
      <div class="btn btn-success btn-padding">Lisova
        <span class="btn-cross">X</span>
      </div>
      <div class="btn btn-success btn-padding">Academmistechko
        <span class="btn-cross">X</span>
      </div>
      <div class="btn btn-success btn-padding">Heroiv Dnipra
        <span class="btn-cross">X</span>
      </div>
      <div class="btn btn-success btn-padding">Boryspilska
        <span class="btn-cross">X</span>
      </div>
      <div class="btn btn-success btn-padding">Teremky
        <span class="btn-cross">X</span>
      </div>
      <div class="btn btn-success btn-padding">Palac sporty
        <span class="btn-cross">X</span>
      </div>
      <div class="btn btn-success btn-padding">Vokzalna
        <span class="btn-cross">X</span>
      </div>
    </div>





    <input _ngcontent-c12="" class="btn btn-primary" type="submit" value="Save">
  </form>
</div>